@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap');


*,*::before,*::after{
    box-sizing: border-box;
}

html, body{
    margin:0;
}

body{
    background-color:#EFF0F0;
}

.non-mobile{
    padding-left:10vw;
    padding-right:10vw;
}

.top{
    display: flex;
    flex-direction: row;
    padding-top:20px;
    height:100px;
    font-family: 'Montserrat', sans-serif;
}

.top-left {
    display: flex;
    align-items: center;
    height:100%;
    width:20vw;
}
.top-left img{
    width:200px;
    object-fit: cover;
}

.top-center{
    display: flex;
    flex-direction: row;
    height:100%;
    width:50vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.top-center a{
    text-decoration: none;
    color:#8E8F8F;
    transition: 0.3s;
}

.top-center a + a{
    margin-left:2vw;
}

.top-center a:hover{
    color:#434184;
    transition: 0.3s;
}

.top-right{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height:100%;
    width:30vw;
}

.top-right a{
    height:50px;
    width:150px;
    text-decoration: none;
    padding-top:13px;
    color:#8E8F8F; 
    border: 3px solid #434184;
    border-radius: 15px;
    box-shadow: 5px 5px ;
    transition: 0.3s;
}

.top-right a:nth-child(1):hover{
    background-color: #434184;
    transition: 0.3s;
    color:#EFF0F0;
    box-shadow: none;
}

.top-right a:nth-child(2){
    display: none;
    line-height: 20px;
    text-align: center;
}

.top-right a:nth-child(2).opened{
    background-color: #474366;
    transition: 0.3s;
    color:#EFF0F0;
    box-shadow: none;
}

.top-right a:nth-child(2) b{
    display: block;
}

.first {
    display: flex;
    height:calc(100vh - 100px);
    font-family: 'Poppins', sans-serif;
    color: #434184;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-weight: 700;
    font-size:50px;
    width:100%;
}

.main-second-text{
    font-weight: 500;
    width:95%;
}

.main-photo{
    float:left;
    height:45vh;
    margin-right:100px;
    border-radius:20px;
    border: 3px solid #434184;
}

.second{
    height:100vh;
    padding-top:20px;
    font-family: 'Poppins', sans-serif;
    
}

.second-main-text, .third-main-text, .fourth-main-text, .fifth-main-text{
    text-align: center;
    font-weight: 600;
    font-size:40px;
    color: #434184;
}

.menu{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    margin-top:115px;
    margin-left:10vw;
    margin-right:10vw;
    height:225px;
    background-color:#EFF0F0;
    width:calc( 100% - 20vw);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: -0.5px;
    color:#8E8F8F; 
    border: 3px solid #474366;
    border-radius: 15px;
    box-shadow: 5px 5px;
    opacity: 0;
}

.menu.active{
    display: flex;
    opacity: 1;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
}

.menu a{
    text-decoration: none;
    color:#8E8F8F;
    transition: 0.3s;
}

.menu a + a{
    margin-top:15px;
}

@media screen and (max-width:1421px){

    .main-second-text{
        width:100%;
    }
}

@media screen and (max-width:1140px){
    .top-right{
        text-align: center;
        justify-content: right;
        width:20vw;
    }

    .yapboz-main-photo{
        margin-top:50px;
        width:400px;
    }
}

@media screen and (max-width:1163px){
    .top-center a:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width:985px){
    .top-center a:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width:830px){
    .top-center{
        display: none;
    }

    .top-right{
        width:300px;
        margin-left:auto;
    }

    .top-right a:nth-child(2){
        display: block;
        margin-left:20px;
        width:50px;
    }

    .top-under{
        display: none;
    }
}

@media screen and (max-width:600px){
    .top-right a:nth-child(1){
        display: none;
    }

    .top-right a:nth-child(2){
        width:40px;
        height:40px;
        line-height: 10px;
        text-align: center;
    }
}